:root{
    --bg:#ebebeb;
    --primary:dodgerblue;
    --secondary:#444;
    --third:#777;
}

body{
    margin: 0;
    background: var(--bg);
    font-family: sans-serif;
}

.container{
    height: 90vh;
    width: 80%;
    margin:2% auto;
    border-radius: 8px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
}

.container h1{
    color:var(--primary);
    font:bold 4em segoe ui light;
}

.container h2{
    color:var(--secondary);
    font:bold 5em segoe ui light;
}

.container h3{
    color:var(--third);
    font:2em segoe ui light;

}