:root{
    --bg:#f3f3f3;
    --primary:dodgerblue;
    --secondary:#444;
    --third:#666;
}

body{
    margin: 0;
    background: var(--bg);
    font-family: sans-serif;
}

.container{
    height: 50vh;
    width: 60%;
    margin: 100px auto;
    border-radius: 4px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.container h1{
    color:var(--primary);
    font:3em segoe ui light;
}

.container h2{
    color:var(--secondary);
    font:1em segoe ui light;
}

.container h3{
    color:var(--third);
    font:1em segoe ui light;
}